/*mobile*/
@media (max-width: 768px) {
    .card-container {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    }
 
    li {
    list-style: none;
    flex-basis: 100%;
    gap: 0px;
    justify-content: center;
    }
}
 
/*tablet*/
@media (min-width: 768px) {
    .card-container {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}
 
    li {
    list-style: none;
    flex-basis: 48.5%;
    flex-grow: 3;
    }
}
 
/**window**/
@media (min-width: 1200px) {
    .card-container {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    }
 
    li {
    list-style: none;
    flex-basis: 32%;
    }
}
